@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-default: #121214;
  --background-secondary: #202024;
  --text: #ffffffde;
  --primary: #612FB7;
  --accent: #8257E5;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: #ffffffde;
  background-color: var(--background-default);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
