@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-default: #121214;
  --background-secondary: #202024;
  --text: #ffffffde;
  --primary: #612FB7;
  --accent: #632EDB;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: #ffffffde;
  background-color: var(--background-default);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button{
  transition: all 150ms;
}

button:hover{
  background: var(--primary);
}
