@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #020202;
    --background-foreground: #1b1b1b;

    --primary: #612FB7;
    --primary-foreground: #7144be;

    --secondary: #31185c;
    --secondary-foreground: #462f6c;

    --accent: #632EDB;
    --accent-foreground: #7343df;
    
    --text: #ffffff;
    --text-secondary: #e4e4e4;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: var(--text);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button{
  transition: all 150ms;
}

button:hover{
  background: var(--primary);
}

.carousel__icon{
  fill: var(--primary) !important;
  border-radius: 7px;
}
